body {
  background-color: #000;
  color: #ff0;
  font-family: "Arial", sans-serif;
  overflow: hidden;
}

h1 {
  text-align: center;
}

main {
  margin: 0 auto;
  max-width: 850px;
  font-size: 30px;
  animation: scroll 180s linear infinite;
}

@keyframes scroll {
  0% {
    transform: perspective(20px) rotateX(3deg) translateY(90vh);
  }
  100% {
    transform: perspective(20px) rotateX(3deg) translateY(-1150vh);
  }
}
